---
import Base from "../layouts/Home/Base.astro";
---

<Base title="Home Page">
  <h1 class="text-7xl m-3 text-center">Welcome to my Blog!</h1>
  <p class="m-3">Wuh oh! Blog is a WIP until we have some tasty articles ;)</p>
</Base>
