---
import Title from "../layouts/Title.astro";
import Header from "../components/Header.astro";
---

<Title title="Home Page">
  <div class="h-screen">
    <Header />
    <div class="text-center flex-col content-center h-5/6">
      <div>
        <h1 class="text-7xl m-3">Welcome to Mongo Test!</h1>
        <h2 class="text-2xl m-3">
          NOSQL Database that's fucking stupid!
        </h2>
      </div>
    </div>
  </div>
</Title>
