---
const { title } = Astro.props;

import Header from "../../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <script
      src="https://kit.fontawesome.com/ccf0d5db0a.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
