---
import ChefsKiss from "../../../layouts/Projects/ChefsKiss/ChefsKiss.astro";
---

<ChefsKiss title="My Account" subtitle="TBD" link="home">
  <h1>Registration page in progress!</h1>
  <h2>Sign-up here!</h2>
  <a href="https://carterwalkerdev.com/projects/chefskiss/signup">D'oh!</a>
</ChefsKiss>
