---
import MealPlanForm from "../../../components/Projects/ChefsKiss/MealPlanForm.astro";
import MealPlanDisplay from "../../../components/Projects/ChefsKiss/MealPlanDisplay.astro";
import ChefsKiss from "../../../layouts/Projects/ChefsKiss/ChefsKiss.astro";
---

<ChefsKiss title="Chef's Kiss" subtitle="Meal Plan Generator" link="account">
  <div
    id="input-form"
    class="z-0 bg-amber-50 p-5 rounded-md mb-6 text-amber-900 text-left"
  >
    <p class="mb-4">
      Please respond as paragraphs of text, and pay attention to the fields
      marked with an asterisk (*) as they are required.
    </p>
    <MealPlanForm />
  </div>
  <MealPlanDisplay />
</ChefsKiss>
