---
import MealPlanForm from "./MealPlanForm.astro";
import MealPlanDisplay from "./MealPlanDisplay.astro";

import Title from "../../../layouts/Title.astro";
---

<Title>
  <div id="background" class="min-h-screen w-screen bg-amber-900 p-5">
    <div
      id="header"
      class="z-50 mx-auto bg-amber-50 rounded-md p-2 text-center text-amber-900 mb-6 flex flex-col items-center relative"
    >
      <h1 class="text-3xl font-bold">Chef Kiss</h1>
      <h2 class="text-xl">To begin, let's learn about you!</h2>
      <a href="./login">
        <i class="fa-regular fa-user text-4xl absolute top-0 right-5 m-5"></i>
      </a>
    </div>

    <div
      id="input-form"
      class="z-0 bg-amber-50 p-5 rounded-md mb-6 text-amber-900"
    >
      <p class="mb-4">
        Please respond as paragraphs of text, and pay attention to the fields
        marked with an asterisk (*) as they are required.
      </p>
      <MealPlanForm />
    </div>

    <MealPlanDisplay />
  </div>
</Title>
